# Copy outside the repository as /srv/turni/config/site.env and set mode 0600.
SITE_BIND_ADDRESS=127.0.0.1
CMS_POSTGRES_DB=strapi
CMS_POSTGRES_USER=strapi
CMS_POSTGRES_PASSWORD=replace_with_a_random_database_password
CMS_APP_KEYS=replace_with_three_unique_comma_separated_values
CMS_API_TOKEN_SALT=replace_with_a_random_value
CMS_ADMIN_JWT_SECRET=replace_with_a_random_value
CMS_TRANSFER_TOKEN_SALT=replace_with_a_random_value
CMS_JWT_SECRET=replace_with_a_random_value
CMS_ENCRYPTION_KEY=replace_with_an_exactly_32_byte_base64_key
CMS_API_TOKEN=replace_with_the_read_only_site_token
CMS_WRITE_TOKEN=replace_with_the_write_only_site_token
SITE_SMTP_HOST=mail.hosting.reg.ru
SITE_SMTP_PORT=465
SITE_SMTP_USER=hello@turni.ru
SITE_SMTP_PASSWORD=replace_with_the_rotated_smtp_password
SITE_EMAIL_FROM=hello@turni.ru
